name: convert release

on:
    push:
        branches:
            - main
        paths-ignore:
            - README.md
            - LICENSE

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: pnpm/action-setup@v4
              with:
                  version: latest
            - uses: actions/setup-node@v4
              with:
                  node-version: latest
            - run: pnpm install --no-frozen-lockfile
            - run: pnpm run pages
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: build-convert
                  path: pages

    deploy:
        runs-on: ubuntu-latest
        needs: build
        steps:
            - uses: actions/checkout@v4
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: build-convert
                  path: pages
            - name: Zip pages folder
              run: |
                  worker_file=$(find pages -name '*worker*.js' -type f)
                  if [ -z "$worker_file" ]; then
                      echo "Error: No worker file found"
                      exit 1
                  fi
                  echo "Found worker file: $worker_file"
                  zip -j _worker.zip "$worker_file"
                  mv _worker.zip pages/
            - name: List contents of pages directory
              run: ls -al pages
            - name: Deploy to GitHub Pages
              uses: peaceiris/actions-gh-pages@v4
              with:
                  github_token: ${{ secrets.DEPLOY_TOKEN }}
                  publish_dir: pages
                  publish_branch: release
                  keep_files: false
                  enable_jekyll: true

